$colors:(color1:#d6eadf, color2 :#b8e0d2, color3 :#95b8d1, color4 :#809bce , defult-color: #d6eadf , cancel: #eac4d5 ,text-color: #FFFFFF);
$text-font:sans-serif;
@function color($color) {
	$color: map-get($map: $colors, $key: $color);
	@return $color;
}
@mixin btnstyle {
    border: 2px solid #ccc;
    border-radius: 50%;
    height: 25px;
    width:25px;   
    cursor: pointer; 
}

* {
    outline: none;
}

.notes {
    position: absolute;
    .note {
        
        position: absolute;
        width: 200px;
        height:200px;
        textarea {
            background-color: color(defult-color);
            min-width: 200px;
            min-height:200px;
            display: block;
        }
        .noteColor {
            display: none;
            left: 20px;
            bottom: 20px;
            button {
                @include btnstyle();
            }
            .btn1 {
                background-color: color(color1);
            }
            .btn2 {
                background-color: color(color2);
            }
            .btn3 {
                background-color: color(color3);
            }
            .btn4 {
                background-color: color(color4);
            }
        
        }
        .cancel {
            display: none;
        }
    }
}

.note:hover {
    background-color: color(color1);
    transition: 0.4s;
        .cancel {
            display: flex;
            justify-content: center;
            position: relative;
            left: 160px;
            bottom: 78px; 
            @include btnstyle();
            background-color: color(cancel);
            color: color(text-color);
            font-size: 15px;
            cursor: pointer;
            text-decoration: none;
            font-weight: bold;
            align-items: center;
        }
        .noteColor {
            display: flex;
            position: relative;
            justify-content: center;
            left: -5px;
            bottom: 50px; 
        }
}
.AddNote {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 50px;
    height: 50px;
    right:50px; 
    bottom: 50px; 
    border: 2px solid #ccc;
    border-radius: 50%;
    background-color: color(cancel);
    color: color(text-color);
    font-size: 22px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    align-items: center;
}